<h1 class="logo">MORSE</h1>

<main class="main">

  <div class="container">

    <div class="card">

      <div class="chat">
        <ul class="chat-list" *ngIf="messages | async; let staticMessages; else noMessage">
          <li class="chat-item" *ngFor="let message of staticMessages.reverse()">
            <p class="chat-item__name">someone<time>{{message.createdAt | date:'yyyy/MM/dd HH:mm'}}</time></p>
            <p class="chat-item__body">
              {{message.body}}({{message.body | morse}})
            </p>
          </li>
        </ul>

        <ng-template #noMessage>(; _ ;)</ng-template>
      </div>

      <div class="form">
        <div class="preview">
          <p>{{morseText | morse}}</p>
          <p class="preview__morse">{{morseText}}</p>
        </div>
      </div>

    </div>

  </div>

</main>

<a href="https://update.jp/" target="_blank" class="update-logo">UPDATE</a>
