.chat-item {
  padding: 16px;
  font-size: 13px;
  & + & {
    border-top: 1px solid #eee;
  }
  time {
    font-size: 11px;
    color: #cccccc;
    margin-left: 16px;
  }
  &__body {
    margin-top: 8px;
  }
}

.morse-btn {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0;
  border: 1px solid #ddd;
  background: #333;
  color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(black, .3);
  margin: -66px auto 24px;
}

.form {
  padding: 20px 16px;
  text-align: center;
  box-sizing: border-box;
  background: #222;
  height: 109px;
}

.preview {
  color: #ffffff;
  font-size: 32px;
  line-height: 1;
  &__morse {
    margin-top: 5px;
  }
}
