<header>
  <h1>Morse Chat</h1>
</header>

<main>

  <div class="container">

    <div class="wrap">

      <div class="chat">
        <ul class="chat-list">
          <li class="chat-item" *ngFor="let message of messages">
            <p class="chat-item__name">{{message.name}}</p>
            <p class="chat-item__body">{{message.body}}</p>
          </li>
        </ul>
      </div>

      <div class="mourse-form">
        <a href="#" (mousedown)="startMorse()" (mouseup)="endMorse()" class="mourse-btn">maurse</a>
      </div>

      <p>{{morseText | morse}}</p>
      <p>{{morseText}}</p>

    </div>

  </div>

</main>

<footer>
  <p>
    <small>&copy; Update.</small>
  </p>
</footer>
