@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote { &:before, &:after { content: ''; content: none; } } q { &:before, &:after { content: ''; content: none; } } table { border-collapse: collapse; border-spacing: 0; }

body {
  background: url(assets/bg.jpg);
  background-size: cover;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  text-shadow: 0 3px 6px #ccc;
  color: #ffffff;
  text-align: center;
  margin: 30px 0;
  @media screen and (min-width: 600px) {
    font-size: 100px;
  }
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 600px) {
    height: 800px;
  }
}

.chat {
  flex: 1;
  overflow: auto;
}

.update-logo {
  color: #ffffff;
  position: fixed;
  z-index: 1000;
  font-family: 'Roboto', sans-serif;
  bottom: 20px;
  left: 20px;
  opacity: 0.3;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}
